<div class="video-collection">
  <div class="section-title">
    <h1>{{ 'homepage.videos.title' | t }}</h1>
  </div>
  <div class="wrapper">
    <div class="grid">
      <div class="box">
        <div class="videoWrapper">
          <iframe src="{{settings.v_slider_url_1}}" width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="video-content">
          <h3>{{settings.v_slider_title_1}}</h3>
          <p>{{settings.v_slider_content_1}}</p>
        </div>
      </div>
      <div class="box">
        <div class="videoWrapper">
          <iframe src="{{settings.v_slider_url_2}}" width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="video-content">
          <h3>{{settings.v_slider_title_2}}</h3>
          <p>{{settings.v_slider_content_2}}</p>
        </div>
      </div>
    </div>
  </div>
</div>