{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if bold_compare_at_price > bold_price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="box product">
  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <figure>
    <div class="product-thumbnail">
      <a href="{{ product.url | within: collection }}"{% if product.images.size > 1 and settings.product_variant_image_enable %} class="view-alt product-image" style="background-image: url('{{ product.images[1].src | img_url: 'large' }}');"{% else %} class="product-image"{% endif %}>
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
    </div>
    <figcaption>
      <header>
        <div class="product-title">
          <a href="{{ product.url | within: collection }}" class="title">{{ product.title }}</a>
          {% if settings.collection_product_vendor_enable %}
            <span class="vendor">{{ product.vendor | link_to_vendor }}</span>
          {% endif %}
        </div>
        <span class="price">
          {% if on_sale %}
          <span class="sale">{{ 'products.product.on_sale' | t }}</span>
          {% endif %}
          {% if sold_out %}
          <span class="sold-out">{{ 'products.product.sold_out' | t }}</span>
          <span class="original-price">
          {% endif %}

          {% if on_sale %}
            {% if bold_price_varies %}
              <span class="from">{{ 'products.general.from' | t }}</span>
              <span class="original-price">{{ bold_compare_at_price | money }}</span>
              {{ bold_price | money }}
            {% else %}
              <span class="original-price">{{ bold_compare_at_price | money }}</span>
              {{ bold_price | money }}
            {% endif %}
          {% else %}
            {% if bold_price_varies %}<span class="from">{{ 'products.general.from' | t }}</span>{% endif %}
            {{ bold_price | money }}
          {% endif %}

          {% if sold_out %}
          </span>
          {% endif %}
        </span>
      </header>
      <div class="description rte">
        {% assign word_limit = 40 %}
        <p>{{ product.description | strip_html | truncatewords: word_limit }}</p>
      </div>
      {% if sold_out %}
      <span class="label sold-out">{{ 'products.product.sold_out' | t }}</span>
      {% else %}
        {% if on_sale %}
        <span class="label sale">{{ 'products.product.on_sale' | t }}</span>
        {% endif %}
      {% endif %}
    </figcaption>
  </figure>

</div>
