<ul class="social-icons">
  {% if settings.social_twitter_link != blank %}
  <li>
    <a href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-twitter" aria-hidden="true"></span>
        <span class="fallback-text">Twitter</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_facebook_link != blank %}
  <li>
    <a href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-facebook" aria-hidden="true"></span>
        <span class="fallback-text">Facebook</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
  <li>
    <a href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-instagram" aria-hidden="true"></span>
        <span class="fallback-text">Instagram</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_pinterest_link != blank %}
  <li>
    <a href="{{ settings.social_pinterest_link }}" title="{{ shop.name }} on Pinterest" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-pinterest" aria-hidden="true"></span>
        <span class="fallback-text">Pinterest</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_tumblr_link != blank %}
  <li>
    <a href="{{ settings.social_tumblr_link }}" title="{{ shop.name }} on Tumblr" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-tumblr" aria-hidden="true"></span>
        <span class="fallback-text">Tumblr</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
  <li>
    <a href="{{ settings.social_youtube_link }}" title="{{ shop.name }} on Youtube" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-youtube" aria-hidden="true"></span>
        <span class="fallback-text">Youtube</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_vine_link != blank %}
  <li>
    <a href="{{ settings.social_vine_link }}" title="{{ shop.name }} on Vine" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-vine" aria-hidden="true"></span>
        <span class="fallback-text">Vine</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_snapchat_link != blank %}
  <li>
    <a href="{{ settings.social_snapchat_link }}" title="{{ shop.name }} on Snapchat" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-snapchat" aria-hidden="true"></span>
        <span class="fallback-text">Snapchat</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_spotify_link != blank %}
  <li>
    <a href="{{ settings.social_spotify_link }}" title="{{ shop.name }} on Spotify" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-spotify" aria-hidden="true"></span>
        <span class="fallback-text">Spotify</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_googleplus_link != blank %}
  <li>
    <a href="{{ settings.social_googleplus_link }}" title="{{ shop.name }} on Google Plus" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-google-plus" aria-hidden="true"></span>
        <span class="fallback-text">Google Plus</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_medium_link != blank %}
  <li>
    <a href="{{ settings.social_medium_link }}" title="{{ shop.name }} on Medium" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-medium" aria-hidden="true"></span>
        <span class="fallback-text">Medium</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if settings.social_linkedin_link != blank %}
  <li>
    <a href="{{ settings.social_linkedin_link }}" title="{{ shop.name }} on LinkedIn" target="_blank">
      <span class="icon-fallback-text">
        <span class="icon icon-linkedin" aria-hidden="true"></span>
        <span class="fallback-text">LinkedIn</span>
      </span>
    </a>
  </li>
  {% endif %}
</ul>