<!-- /templates/collection.list.liquid -->
{% comment %}

  By using a variation of the 'view all' parameter technique, you can create
  a custom layout for any template by adding ?view=xxxx

  In this example, you can have a list view of your collection page by going to
  /collections/all?view=list

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

  For more information on the ?view parameter:
    - http://docs.shopify.com/support/configuration/store-customization/can-i-show-more-than-50-products-on-my-homepage-can-i-add-a-view-all-function-to-my-collection-pages#add-view-all

{% endcomment %}

{% if settings.collections_image_placement != 'default' and collection.image %}
  <div class="hero-content header {{ settings.collections_image_placement }}">
    <div class="collection-image">
      <img src="{{ collection.image | img_url: '2048x2048' }}" alt="{{ collection.title }}">
    </div>
  </div>
{% endif %}

{% assign products_per_page = settings.collections_products_per_page %}
{% paginate collection.products by products_per_page %}

<section class="collection">
  <div class="wrapper">

    <header class="content-util">
    {% include 'breadcrumb' %}
    {% include 'social-icons' %}
    </header>

    <div class="grid {% if settings.collections_sidebar_enable == false %}full-width{% endif %}">
      <div class="collection-container">
        <header class="collection-header">
          <div class="container">
            <h1>{{ collection.title }}</h1>
            {% include 'collection-sorting' %}
          </div>
          {% if settings.collections_image_placement == 'default' and collection.image %}
          <div class="collection-image">
            <img src="{{ collection.image | img_url: '2048x2048' }}" alt="{{ collection.title }}">
          </div>
          {% endif %}
          {% if collection.description != blank %}
          <div class="description rte">
            {{ collection.description }}
          </div>
          {% endif %}
        </header>

        {% if settings.collections_sidebar_enable %}
          <div class="mobile-aside-container">
            <a href="#" class="button simple">{{ 'layout.navigation.collection_menu' | t}}</a>
            <aside>
              {% include 'collection-sidebar' %}
            </aside>
          </div>
        {% endif %}

        <div class="products products-list {% if settings.collections_sidebar_enable == false %}full-width{% endif %}">
          {% comment %}
            Loop through our products in the current collection.
            See the snippet 'product-grid-item' for the layout.
          {% endcomment %}
          {% for product in collection.products %}
          
          
          {% include 'bold-product' with product, hide_action: 'skip' %}

            {% include 'product-list-item' %}

          {% else %}
            <p>{{ 'collections.general.no_matches' | t }}</p>
          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
        <footer class="collection-footer">
          {% include 'pagination' %}
        </footer>
        {% endif %}
        
        {% if collection.handle contains 'festival' %}
        {% include 'homepage-festival' %}
        {% endif %}
      </div>

      {% if settings.collections_sidebar_enable %}
        <div class="aside-container">
          <aside>
            {% include 'collection-sidebar' %}
          </aside>
        </div>
      {% endif %}
    </div>

  </div>
</section>

{% endpaginate %}

