<!-- /templates/password.liquid -->
{% layout none %}
<!doctype html>
<!--[if lt IE 7]><html class="template-password no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="template-password no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="template-password no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 template-password no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="template-password no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>{{ 'password.general.title_html' | t: shop: shop.name }}</title>
  {% unless shop.password_message == blank %}
  <meta name="description" content="{{ shop.password_message | strip_html }}">
  {% endunless %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.primary_accent_color }}">

  <!-- CSS ================================================== -->
  {{ 'district.scss.css' | asset_url | stylesheet_tag }}
  {% include 'fonts' %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div class="password-contain">

    <header class="site-header" role="banner">
      <div class="wrapper">
        <div class="logo-nav-contain layout-vertical">
          <div class="logo-contain">

            <h1 class="site-logo {% if settings.logo_use_image %}has-image{% endif %}" itemscope itemtype="http://schema.org/Organization">
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url" class="logo-image">
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            </h1>

          </div>
        </div>
      </div>
    </header>

    <main class="main-content" role="main">
      <div class="contain">
        <div class="coming-soon">
          <h2>{{ 'password.general.title_html' | t: shop: shop.name }}</h2>
          {% unless shop.password_message == blank %}
            {{ shop.password_message }}
          {% endunless %}
        </div>

        {% if settings.password_newsletter_enable %}
          <div class="subscribe">
            {% if settings.newsletter_type == 'shopify' %}
              {% form 'customer' %}

                {{ form.errors | default_errors }}

                {% if form.posted_successfully? %}
                  <p>{{ 'password.general.thanks_title' | t }}</p>
                {% else %}
                  <p>{{ 'password.general.signup_title' | t }}</p>
                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                  <div class="input-row">
                    <div class="input-wrapper">
                      <input type="email" name="contact[email]" id="email" placeholder="{{ 'password.form.your_email' | t}}" class="input-group-field" >
                    </div>
                    <div class="button-wrapper">
                      <input type="submit" value="{{ 'password.form.submit' | t }}" class="btn">
                    </div>
                  </div>
                {% endif %}

              {% endform %}

            {% elsif settings.newsletter_type == 'mailchimp' %}

              {% comment %}
                MailChimp is the go-to newsletter service for Shopify.
                Use the link below to find your MailChimp form action
                and insert it in your site settings.

                MailChimp newsletter integration and requirement:
                 - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
              {% endcomment %}
              {% if settings.email_offer_form_action != blank %}
                {% assign form_action = settings.email_offer_form_action %}
              {% else %}
                {% assign form_action = '#' %}
              {% endif %}
              <!--<form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                <p class="signup-message">{{ 'password.general.signup_title' | t }}</p>
                <p class="thanks-message">{{ 'password.general.thanks_title' | t }}</p>
                <div class="input-row">
                  <div class="input-wrapper">
                    <input type="email" placeholder="{{ 'password.form.your_email' | t}}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'password.form.your_email' | t}}" autocorrect="off" autocapitalize="off">
                  </div>
                  <div class="button-wrapper">
                    <button type="submit" id="subscribe" class="btn">{{ 'password.form.submit' | t }}</button>
                  </div>
                </div>
              </form>-->

            {% endif %}

          </div>
        {% endif %}

        {% if settings.password_social_share_enable %}
          <div class="share">
            <p>{{ 'password.general.share_title' | t }}</p>
            {% include 'social-share' %}
          </div>
        {% endif %}

      </div>
    </main>

    <section class="site-login">
      <a href="#LoginModal" class="button simple login-popup" data-mfp-src="#LoginModal">{{ 'password.general.enter_store_button' | t }}</a>
      <div id="LoginModal" class="mfp-hide white-popup">
        {% form 'storefront_password' %}

        {{ form.errors | default_errors }}

        <h3>{{ 'password.general.enter_store_title' | t }}</h3>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <div class="input-row">
          <div class="input-wrapper">
            <input type="password" name="password" placeholder="{{ 'password.form.your_password' | t }}" class="input-group-field" >
          </div>
          <div class="button-wrapper">
            <input type="submit" value="{{ 'password.form.enter' | t }}" class="btn">
          </div>
        </div>

        {% endform %}
        <p>{{ 'password.general.store_owner_html' | t }}</p>
      </div>
    </section>

    <footer class="password-footer">
      <div class="contain">
        <p>{{ 'password.general.powered_by_html' | t }}</p>
      </div>
    </footer>

  </div>

  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'district.js' | asset_url | script_tag }}

</body>
</html>
